<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tl_tcb605v">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import tl_tcb605v urdf file -->
    <xacro:include filename="$(find tl_description)/urdf/tl_tcb605v.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="tl_tcb605v.ros2_control.xacro" />


    <xacro:tl_tcb605v_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
