<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="tcb705v">
  <mujoco>
    <compiler
      meshdir="../meshes/"
      discardvisual="false"
    />
  </mujoco> 
  <link
    name="link0">
    <inertial>
      <origin
        xyz="0.000708831292588158 -8.6107534914906E-05 0.0437241147546662"
        rpy="0 0 0" />
      <mass
        value="0.184997778677384" />
      <inertia
        ixx="0.000408655880224899"
        ixy="-6.47925326858516E-07"
        ixz="3.45905947380278E-06"
        iyy="0.000402045698173365"
        iyz="-4.42033155327599E-07"
        izz="0.000394929591269372" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link0.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-1.47467364543795E-05 -0.0147035745839652 0.074170065372986"
        rpy="0 0 0" />
      <mass
        value="0.14078274314442" />
      <inertia
        ixx="0.000389165158363872"
        ixy="7.76850517532585E-09"
        ixz="-3.4596536645541E-08"
        iyy="0.000404601054210795"
        iyz="5.39676858807366E-05"
        izz="0.000158801770197842" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.11455"
      rpy="0 0 0" />
    <parent
      link="link0" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1226"
      upper="3.1226"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="8.61535466717848E-06 -0.0560508787266447 0.0117257364090613"
        rpy="0 0 0" />
      <mass
        value="0.124463620303859" />
      <inertia
        ixx="0.000370601578271224"
        ixy="-9.27831113208387E-09"
        ixz="-9.42550205169074E-09"
        iyy="0.000121246909389466"
        iyz="-7.13455520508631E-05"
        izz="0.000380204304484532" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0.00715 0.12745"
      rpy="-1.5708 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.3550"
      upper="2.3550"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.000129631315073277 0.0129892407646547 0.0730749657672627"
        rpy="0 0 0" />
      <mass
        value="0.114590469364388" />
      <inertia
        ixx="0.000277982717731438"
        ixy="-1.69536546152647E-07"
        ixz="9.64200178666297E-07"
        iyy="0.000287463601314177"
        iyz="-3.76358084293264E-05"
        izz="9.7211308311432E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 -0.14065 -0.00715"
      rpy="1.5708 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1226"
      upper="3.1226"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.0577535239535678 -6.46544791788051E-06 -0.0089847147014021"
        rpy="0 0 0" />
      <mass
        value="0.0945260086054548" />
      <inertia
        ixx="6.4261633288609E-05"
        ixy="5.31249468349128E-08"
        ixz="-4.60316398863621E-05"
        iyy="0.000237785840924347"
        iyz="1.09590839404291E-09"
        izz="0.000240859287940391" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 -0.00815 0.12935"
      rpy="-1.5708 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4.0666"
      upper="0.9250"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-1.01597416973798E-05 -0.0129940454507881 -0.0554922895057171"
        rpy="0 0 0" />
      <mass
        value="0.0720848609282151" />
      <inertia
        ixx="0.000105414962557607"
        ixy="-1.2105098524385E-08"
        ixz="2.49624492583413E-09"
        iyy="0.00010613474787178"
        iyz="-1.86457218840475E-05"
        izz="4.55695463915064E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.13665 0 0.00815"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.1226"
      upper="3.1226"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-0.0369306815816491 -1.08688351491137E-06 -0.0122181370965946"
        rpy="0 0 0" />
      <mass
        value="0.0641129265618949" />
      <inertia
        ixx="4.10033658224875E-05"
        ixy="7.57133585164881E-09"
        ixz="2.10914840189856E-05"
        iyy="9.88028442134006E-05"
        iyz="3.11429329369111E-09"
        izz="9.73769519458484E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0.00365 -0.09335"
      rpy="1.5708 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.8921"
      upper="0.7505"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link7">
    <inertial>
      <origin
        xyz="0.0487295160961665 -0.000324754823316162 -0.0141105990581868"
        rpy="0 0 0" />
      <mass
        value="0.149790642620123" />
      <inertia
        ixx="0.00010735344415625"
        ixy="2.30487581004937E-06"
        ixz="-4.38540068068281E-05"
        iyy="0.000281991907381479"
        iyz="8.15616702512821E-08"
        izz="0.000329332771650774" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="revolute">
    <origin
      xyz="-0.153 0 0.00365"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="link6" />
    <child
      link="link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1226"
      upper="3.1226"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="0.0058706472914043 0.00117312032425971 0.0124843774818532"
        rpy="0 0 0" />
      <mass
        value="0.0471700210111277" />
      <inertia
        ixx="2.87281846018144E-05"
        ixy="4.20817722643927E-07"
        ixz="-4.33349001547797E-09"
        iyy="4.39204772538775E-06"
        iyz="-5.78217677583661E-10"
        izz="2.8973189574676E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705v/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.0720000000000001 0 -0.0107187216588209"
      rpy="0 -1.5707963267949 0" />
    <parent
      link="link7" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>