<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="tcb705l">
  <mujoco>
    <compiler
      meshdir="../meshes/"
      discardvisual="false"
    />
  </mujoco> 
  <link
    name="link0">
    <inertial>
      <origin
        xyz="-0.00203916786698491 0.000208461233542917 0.0437970464318419"
        rpy="0 0 0" />
      <mass
        value="0.230943297728628" />
      <inertia
        ixx="0.000578857931988572"
        ixy="2.4964429515839E-06"
        ixz="-3.62761994221811E-06"
        iyy="0.000597326060992728"
        iyz="8.87603974516206E-07"
        izz="0.000630268815467391" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link0.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-2.82592835967467E-06 -0.0149440554612562 0.0760738628611228"
        rpy="0 0 0" />
      <mass
        value="0.188795049535535" />
      <inertia
        ixx="0.000644330974536614"
        ixy="5.55804168466935E-08"
        ixz="-5.4092174493778E-08"
        iyy="0.000669839544820846"
        iyz="0.000101917330586459"
        izz="0.000292784373513458" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.12215"
      rpy="0 0 0" />
    <parent
      link="link0" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1226"
      upper="3.1226"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-4.20257383742766E-06 -0.19194400434504 -0.000180313359437802"
        rpy="0 0 0" />
      <mass
        value="0.528784681879454" />
      <inertia
        ixx="0.00599971810886578"
        ixy="1.42660874273815E-07"
        ixz="5.33946684288791E-10"
        iyy="0.000724362027518048"
        iyz="-0.00053988079982275"
        izz="0.00598246095196836" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0.00665 0.14085"
      rpy="-1.5708 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.3550"
      upper="2.3550"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="5.14309382409964E-06 0.016397275627194 0.085950743765835"
        rpy="0 0 0" />
      <mass
        value="0.168577493982053" />
      <inertia
        ixx="0.000629527693750699"
        ixy="-2.01846512704515E-08"
        ixz="-6.31481179014199E-08"
        iyy="0.000646662243008361"
        iyz="-9.33674517466635E-05"
        izz="0.000173965232232951" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 -0.35915 -0.00665"
      rpy="1.5708 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1226"
      upper="3.1226"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.190684803100533 4.69170126971008E-07 -0.00158652834175867"
        rpy="0 0 0" />
      <mass
        value="0.422517119677072" />
      <inertia
        ixx="0.000427800394386953"
        ixy="9.2075035715961E-08"
        ixz="-0.000428033591481068"
        iyy="0.00489098696748853"
        iyz="-2.31809156229144E-09"
        izz="0.0048724700842241" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 -0.00515 0.16035"
      rpy="-1.5708 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-4.0666"
      upper="0.9250"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-5.11053962792829E-06 -0.0131445599008326 -0.0626746043765331"
        rpy="0 0 0" />
      <mass
        value="0.0899817886880056" />
      <inertia
        ixx="0.00020480849036662"
        ixy="-1.16222565734855E-08"
        ixz="-4.07643013488881E-08"
        iyy="0.00020796973831797"
        iyz="-3.60478114239073E-05"
        izz="7.75189799131768E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.36715 0 0.00515"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.1226"
      upper="3.1226"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-0.0398707135154288 -1.2964033449081E-05 -0.00873817260996444"
        rpy="0 0 0" />
      <mass
        value="0.0915267307351342" />
      <inertia
        ixx="8.07130887981508E-05"
        ixy="3.6229354846431E-08"
        ixz="3.1588735111629E-05"
        iyy="0.00016700603106285"
        iyz="-1.2709028878144E-08"
        izz="0.000170834795985472" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0.00615 -0.11335"
      rpy="1.5708 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.8921"
      upper="0.7505"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link7">
    <inertial>
      <origin
        xyz="-0.000389397497443489 8.96781010539561E-05 -0.0228822715412031"
        rpy="0 0 0" />
      <mass
        value="0.0756964619101267" />
      <inertia
        ixx="5.73362607115089E-05"
        ixy="-1.00642146248315E-08"
        ixz="3.2415745434486E-07"
        iyy="5.7604236864589E-05"
        iyz="-1.43757533270585E-08"
        izz="7.09157247150554E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tcb705l/link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="revolute">
    <origin
      xyz="-0.1615 0 0.00615"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="link6" />
    <child
      link="link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1226"
      upper="3.1226"
      effort="0"
      velocity="0" />
  </joint>
</robot>