<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="tl_tcb705f">
  <link
    name="link0">
    <inertial>
      <origin
        xyz="0.000708831292588152 -8.61075349149129E-05 0.0437241147546661"
        rpy="0 0 0" />
      <mass
        value="0.184997778677383" />
      <inertia
        ixx="0.000408655880224899"
        ixy="-6.47925326858513E-07"
        ixz="3.45905947380274E-06"
        iyy="0.000402045698173365"
        iyz="-4.42033155327605E-07"
        izz="0.000394929591269372" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link0.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-1.47467364543795E-05 -0.0147035745839652 0.074170065372986"
        rpy="0 0 0" />
      <mass
        value="0.14078274314442" />
      <inertia
        ixx="0.000389165158363872"
        ixy="7.76850517532585E-09"
        ixz="-3.45965366455443E-08"
        iyy="0.000404601054210795"
        iyz="5.39676858807366E-05"
        izz="0.000158801770197842" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.11455"
      rpy="0 0 0" />
    <parent
      link="link0" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="8.61535466718018E-06 -0.0560508787266448 0.0117257364090613"
        rpy="0 0 0" />
      <mass
        value="0.124463620303859" />
      <inertia
        ixx="0.000370601578271224"
        ixy="-9.27831113208387E-09"
        ixz="-9.42550205169074E-09"
        iyy="0.000121246909389466"
        iyz="-7.13455520508631E-05"
        izz="0.000380204304484532" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0.00715 0.12745"
      rpy="-1.5708 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.4086"
      upper="2.4086"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.000129631315073277 0.0129892407646547 0.0730749657672627"
        rpy="0 0 0" />
      <mass
        value="0.114590469364388" />
      <inertia
        ixx="0.000277982717731438"
        ixy="-1.69536546152647E-07"
        ixz="9.64200178666297E-07"
        iyy="0.000287463601314177"
        iyz="-3.76358084293264E-05"
        izz="9.72113083114317E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 -0.14065 -0.00715"
      rpy="1.5708 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-6.48637541245885E-06 0.0577535050715413 0.00898472400124507"
        rpy="0 0 0" />
      <mass
        value="0.0945260952124885" />
      <inertia
        ixx="0.000237785884377793"
        ixy="5.30816348665305E-08"
        ixz="-1.06494690837427E-09"
        iyy="6.42616764257504E-05"
        iyz="4.6031658840996E-05"
        izz="0.000240859360083395" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 -0.0081500000143419 0.129350000003041"
      rpy="1.5708 1.5708 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-4.0666"
      upper="0.9250"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="1.01606647688153E-05 -0.0129940465321856 0.0554923015741177"
        rpy="0 0 0" />
      <mass
        value="0.0720848913335696" />
      <inertia
        ixx="0.00010541499479421"
        ixy="1.2105445711369E-08"
        ixz="2.49403917902727E-09"
        iyy="0.000106134789383844"
        iyz="1.86457255781179E-05"
        izz="4.55695578763409E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0.13665 -0.00815"
      rpy="-1.5708 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-1.08654065955853E-06 -0.0369306924078477 0.012218137744383"
        rpy="0 0 0" />
      <mass
        value="0.0641129925895538" />
      <inertia
        ixx="9.88028775725866E-05"
        ixy="7.57141112075589E-09"
        ixz="-3.11343420018772E-09"
        iyy="4.10033963262003E-05"
        iyz="-2.10914786481659E-05"
        izz="9.7376967742281E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0.00365 0.09335"
      rpy="-1.5708 1.5708 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.8921"
      upper="0.7505"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link7">
    <inertial>
      <origin
        xyz="0.000187652718789636 -3.81808440156201E-05 0.0579325760779312"
        rpy="0 0 0" />
      <mass
        value="0.12684149820276" />
      <inertia
        ixx="0.000104196463921777"
        ixy="-1.52205852811246E-08"
        ixz="2.97327898167419E-07"
        iyy="0.000105247821718726"
        iyz="-3.40270046740776E-08"
        izz="6.69703532322668E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb705f/link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="revolute">
    <origin
      xyz="0 -0.09515 -0.00365"
      rpy="1.5708 0 0" />
    <parent
      link="link6" />
    <child
      link="link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
</robot>