<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="tl_tcb605lv">
  <link
    name="link0">
    <inertial>
      <origin
        xyz="-0.0020391678669849 0.000208461233542918 0.0437970464318419"
        rpy="0 0 0" />
      <mass
        value="0.230943297728628" />
      <inertia
        ixx="0.000578857931988587"
        ixy="2.49644295158413E-06"
        ixz="-3.62761994221807E-06"
        iyy="0.000597326060992721"
        iyz="8.87603974516212E-07"
        izz="0.000630268815467399" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link0.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-2.82592835967923E-06 -0.0149440554612562 0.0760738628611229"
        rpy="0 0 0" />
      <mass
        value="0.188795049535535" />
      <inertia
        ixx="0.000644330974536614"
        ixy="5.55804168467085E-08"
        ixz="-5.40921744938094E-08"
        iyy="0.000669839544820847"
        iyz="0.000101917330586459"
        izz="0.000292784373513458" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.12215"
      rpy="0 0 0" />
    <parent
      link="link0" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-1.94339017576278E-06 -0.253141084131434 0.00221954159481741"
        rpy="0 0 0" />
      <mass
        value="0.697362175861507" />
      <inertia
        ixx="0.0148340159046899"
        ixy="5.08235530092287E-07"
        ixz="-3.15104179556921E-08"
        iyy="0.000910925446251546"
        iyz="-0.000125255790475071"
        izz="0.0148212951328787" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0.00665 0.14085"
      rpy="-1.5708 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.3737"
      upper="2.3737"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="4.677486225209E-07 0.190684816385663 0.00158652388734265"
        rpy="0 0 0" />
      <mass
        value="0.422517069527335" />
      <inertia
        ixx="0.00489098627866591"
        ixy="9.20095599116338E-08"
        ixz="2.35656254351516E-09"
        iyy="0.000427800317518501"
        iyz="0.000428033380752947"
        izz="0.0048724694443363" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 -0.5195 -0.0118"
      rpy="3.1416 0 1.5708" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.9935"
      upper="4.1423"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="5.11048107013689E-06 -0.0131445598574518 0.062674604389986"
        rpy="0 0 0" />
      <mass
        value="0.0899817886682776" />
      <inertia
        ixx="0.000204808490643616"
        ixy="1.16223792980813E-08"
        ixz="-4.076448030262E-08"
        iyy="0.000207969738028478"
        iyz="3.60478115175274E-05"
        izz="7.75189800155889E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 0.36715 -0.00515"
      rpy="-1.5708 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-1.2974998256862E-05 -0.0398707312600484 0.00873816110109463"
        rpy="0 0 0" />
      <mass
        value="0.0915266768417438" />
      <inertia
        ixx="0.000167005961446362"
        ixy="3.62631342384433E-08"
        ixz="1.27355290609069E-08"
        iyy="8.07130413912066E-05"
        iyz="-3.15887030570799E-05"
        izz="0.000170834721676797" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0.00615 0.11335"
      rpy="-1.5708 1.5708 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.8386"
      upper="0.6970"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-0.0287892705315907 -5.42700452653899E-05 0.0373502804065158"
        rpy="0 0 0" />
      <mass
        value="0.125131844947926" />
      <inertia
        ixx="0.000100142378024064"
        ixy="1.95738604124121E-07"
        ixz="2.86300184915869E-05"
        iyy="0.000255794106495808"
        iyz="-1.08179559820644E-08"
        izz="0.000294395148981848" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 -0.10615 -0.00615"
      rpy="1.5708 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="0.00587064809951698 0.00117308167642571 0.0124843809204076"
        rpy="0 0 0" />
      <mass
        value="0.0471699656854402" />
      <inertia
        ixx="2.87281209197784E-05"
        ixy="4.20816225189892E-07"
        ixz="-4.33349802215558E-09"
        iyy="4.39204835787559E-06"
        iyz="-5.84040611075173E-10"
        izz="2.89731252555142E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605lv/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="-0.078 0 0.046631"
      rpy="0 -1.5708 0" />
    <parent
      link="link6" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>