<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="tl_tcb605f">
  <link
    name="link0">
    <inertial>
      <origin
        xyz="0.000708831292588162 -8.61075349149129E-05 0.0437241147546662"
        rpy="0 0 0" />
      <mass
        value="0.184997778677383" />
      <inertia
        ixx="0.000408655880224899"
        ixy="-6.47925326858493E-07"
        ixz="3.45905947380276E-06"
        iyy="0.000402045698173365"
        iyz="-4.42033155327585E-07"
        izz="0.000394929591269372" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link0.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-1.47467364543795E-05 -0.0147035745839652 0.074170065372986"
        rpy="0 0 0" />
      <mass
        value="0.14078274314442" />
      <inertia
        ixx="0.000389165158363872"
        ixy="7.76850517532584E-09"
        ixz="-3.45965366455443E-08"
        iyy="0.000404601054210795"
        iyz="5.39676858807365E-05"
        izz="0.000158801770197842" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.11455"
      rpy="0 0 0" />
    <parent
      link="link0" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-5.76531237161324E-05 -0.131631880772405 0.00890404740131982"
        rpy="0 0 0" />
      <mass
        value="0.239054089668246" />
      <inertia
        ixx="0.00213390518057628"
        ixy="-2.27397668248014E-06"
        ixz="-2.27513950872361E-07"
        iyy="0.000220526681271214"
        iyz="-8.90845091873293E-05"
        izz="0.00215092260732315" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0.00715000000101006 0.127449999999348"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.4086"
      upper="2.4086"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-6.48637540848612E-06 0.0577535050716222 0.00898472400251164"
        rpy="0 0 0" />
      <mass
        value="0.0945260952124885" />
      <inertia
        ixx="0.000237785884377793"
        ixy="5.30816348665186E-08"
        ixz="-1.06494690823018E-09"
        iyy="6.4261676425499E-05"
        iyz="4.60316588405138E-05"
        izz="0.000240859360083646" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 -0.27 -0.0153"
      rpy="3.1416 0 1.5708" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.9250"
      upper="4.0666"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="1.01606646571693E-05 -0.0129940465321864 0.0554923015741177"
        rpy="0 0 0" />
      <mass
        value="0.0720848913335696" />
      <inertia
        ixx="0.00010541499479421"
        ixy="1.21054457078871E-08"
        ixz="2.49403919020233E-09"
        iyy="0.000106134789383844"
        iyz="1.8645725578118E-05"
        izz="4.55695578763409E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 0.13665 -0.00815"
      rpy="-1.5708 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-1.08654065974832E-06 -0.0369306924080478 0.012218137742235"
        rpy="0 0 0" />
      <mass
        value="0.0641129925895538" />
      <inertia
        ixx="9.88028775725866E-05"
        ixy="7.57141112076012E-09"
        ixz="-3.11343420016476E-09"
        iyy="4.1003396326335E-05"
        iyz="-2.10914786483459E-05"
        izz="9.73769677421464E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0.00365 0.09335"
      rpy="-1.5708 1.5708 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.8921"
      upper="0.7505"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-8.58859944419791E-05 -0.000171156947356373 0.0579325760957963"
        rpy="0 0 0" />
      <mass
        value="0.126841498262816" />
      <inertia
        ixx="0.000105183722015606"
        ixy="-2.52023226881164E-07"
        ixz="-1.10533049552185E-07"
        iyy="0.000104260563525985"
        iyz="-2.78106941754392E-07"
        izz="6.69703539751629E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605f/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 -0.09515 -0.00365"
      rpy="1.5708 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
</robot>