<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="tl_tcb605">
  <link
    name="link0">
    <inertial>
      <origin
        xyz="0.000708831292588158 -8.61075349149198E-05 0.0437241147546662"
        rpy="0 0 0" />
      <mass
        value="0.184997778677384" />
      <inertia
        ixx="0.000408655880224899"
        ixy="-6.47925326858519E-07"
        ixz="3.45905947380275E-06"
        iyy="0.000402045698173365"
        iyz="-4.42033155327602E-07"
        izz="0.000394929591269372" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link0.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-1.4189019277123E-05 -0.0147043432758809 0.0739725067130976"
        rpy="0 0 0" />
      <mass
        value="0.140788242034027" />
      <inertia
        ixx="0.000389189148274927"
        ixy="9.56014640707244E-09"
        ixz="-4.0052899016415E-08"
        iyy="0.000404624430565959"
        iyz="5.39754948564024E-05"
        izz="0.000158805233771653" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.11455"
      rpy="0 0 0" />
    <parent
      link="link0" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-5.77644066727023E-05 -0.131538813620555 0.00870306373865762"
        rpy="0 0 0" />
      <mass
        value="0.239040103299143" />
      <inertia
        ixx="0.00212988128764185"
        ixy="-2.31815602694513E-06"
        ixz="-2.30266660869459E-07"
        iyy="0.000220516873285885"
        iyz="-8.89923131514912E-05"
        izz="0.00214689936814682" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0.00715 0.12725"
      rpy="-1.5708 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.4086"
      upper="2.4086"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-6.4654514757336E-06 0.0577535239527633 0.008784714716598"
        rpy="0 0 0" />
      <mass
        value="0.0945260086055452" />
      <inertia
        ixx="0.00023778584092464"
        ixy="5.31249474241417E-08"
        ixz="-1.09590834492674E-09"
        iyy="6.42616332896738E-05"
        iyz="4.60316398883806E-05"
        izz="0.000240859287939656" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 -0.2698 -0.0155"
      rpy="3.1416 0 1.5708" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.9250"
      upper="4.0666"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="1.01595879248386E-05 -0.0129940451387686 0.0552922897700905"
        rpy="0 0 0" />
      <mass
        value="0.0720848621519884" />
      <inertia
        ixx="0.000105414963401844"
        ixy="1.21054796383402E-08"
        ixz="2.49650485751512E-09"
        iyy="0.000106134748275128"
        iyz="1.86457215856065E-05"
        izz="4.55695460353684E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 0.13665 -0.00835"
      rpy="-1.5708 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-1.08598914177645E-06 -0.0369306855244047 0.0120181266109867"
        rpy="0 0 0" />
      <mass
        value="0.0641129630183189" />
      <inertia
        ixx="9.88028591813986E-05"
        ixy="7.5717224187372E-09"
        ixz="-3.11345423356035E-09"
        iyy="4.10033831547315E-05"
        iyz="-2.1091489212269E-05"
        izz="9.73769585809543E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0.00365 0.09315"
      rpy="-1.5708 1.5708 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.8921"
      upper="0.7505"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.000439337912566573 -0.00011463025532038 0.0338360355605593"
        rpy="0 0 0" />
      <mass
        value="0.0531024374144144" />
      <inertia
        ixx="3.09184116553573E-05"
        ixy="-1.15972581719981E-08"
        ixz="-2.34766421628408E-07"
        iyy="3.18708092165576E-05"
        iyz="6.28848515529739E-08"
        izz="3.41446110066842E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tl_description/meshes/tl_tcb605/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 -0.09515 -0.00385"
      rpy="1.5708 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
</robot>