<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tl_tcb705f">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="use_real_hardware" default="false" />

    <!-- Import tl_tcb705f urdf file -->
    <xacro:include filename="$(find tl_description)/urdf/tcb705f.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="tl_tcb705f.ros2_control.xacro" />


    <xacro:tl_tcb705f_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)" use_real_hardware="$(arg use_real_hardware)"/>

</robot>
